<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="amazeui.min.css">
</head> 
   
<body>
<div ng-app="myapp">
	<form class="am-form-inline" role="form" ng-controller="myCtrl">
	<button type="button" class="am-btn am-btn-success" ng-show="erorr.length>0">{{erorr}}</button>
<hr>
	  <div class="am-form-group">
	    <input type="text" class="am-form-field" placeholder="用户名" ng-model="uName">
	  </div>
<hr>
	  <div class="am-form-group">
	    <input type="password" class="am-form-field" placeholder="密码" ng-model="uPwd">
	  </div>
<hr>
	 

	  <button type="submit" class="am-btn am-btn-default" ng-click="login()">登录</button>
	</form>
</div>
   
</body>
<script src="angular.min.js"></script>
<script>
	var app=angular.module("myapp",[])
	app.controller("myCtrl",function($scope){
		$scope.uName="";
		$scope.uPwd="";
		$scope.login=function(){
			if($scope.uName=="admin"){
				if($scope.uPwd=="123"){
				$scope.erorr="登录成功";
				}else{
					$scope.erorr="登录失败";
				}
			}else{
				$scope.erorr="登录失败";
			}
		}
	})
	
</script>

</html>